div.rojo {
    background-color: red;
    width: 24.5%;
    height: 20px;
   display: inline-block;
}

div.amarillo {
    background-color: yellow;
    width: 24.5%;
    height: 20px;
    display: inline-block;
}
